@charset "utf-8";


/*Montserrat*/
@font-face {
	font-family: 'Montserrat';
	font-weight: 100;
	src: url("../font/Montserrat-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url("../font/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url("../font/Montserrat-Bold.ttf") format('truetype');
}

/* 노토 */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSans-Thin.eot);
	src: local('※'),
		url(../font/NotoSans-Thin.woff2) format('woff2'),
		url(../font/NotoSans-Thin.woff) format('woff'),
		url(../font/NotoSans-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 200;
	src: url(../font/NotoSans-Light.eot);
	src: local('※'),
		url(../font/NotoSans-Light.woff2) format('woff2'),
		url(../font/NotoSans-Light.woff) format('woff'),
		url(../font/NotoSans-Light.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSans-DemiLight.eot);
	src: local('※'),
		url(../font/NotoSans-DemiLight.woff2) format('woff2'),
		url(../font/NotoSans-DemiLight.woff) format('woff'),
		url(../font/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSans-Regular.eot);
	src: local('※'),
		url(../font/NotoSans-Regular.woff2) format('woff2'),
		url(../font/NotoSans-Regular.woff) format('woff'),
		url(../font/NotoSans-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSans-Medium.eot);
	src: local('※'),
		url(../font/NotoSans-Medium.woff2) format('woff2'),
		url(../font/NotoSans-Medium.woff) format('woff'),
		url(../font/NotoSans-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NotoSans-Bold.eot);
	src: local('※'),
		url(../font/NotoSans-Bold.woff2) format('woff2'),
		url(../font/NotoSans-Bold.woff) format('woff'),
		url(../font/NotoSans-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NotoSans-Black.eot);
	src: local('※'),
		url(../font/NotoSans-Black.woff2) format('woff2'),
		url(../font/NotoSans-Black.woff) format('woff'),
		url(../font/NotoSans-Black.otf) format('opentype');
}


/* Noto Sans Condensed */
@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 300;
	src: url(../fonts/NotoSans-CondensedLight.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedLight.woff) format('woff'),
		url(../fonts/NotoSans-CondensedLight.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 400;
	src: url(../fonts/NotoSans-CondensedMedium.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedMedium.woff) format('woff'),
		url(../fonts/NotoSans-CondensedMedium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 500;
	src: url(../fonts/NotoSans-CondensedSemiBold.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedSemiBold.woff) format('woff'),
		url(../fonts/NotoSans-CondensedSemiBold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 600;
	src: url(../fonts/NotoSans-CondensedBold.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedBold.woff) format('woff'),
		url(../fonts/NotoSans-CondensedBold.otf) format('opentype');
}




/*스푸카한*/
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 100;
	src: local('※'),
		url(../font/SpoqaHanSansThin.woff2) format('woff2'),
		url(../font/SpoqaHanSansThin.woff) format('woff'),
		url(../font/SpoqaHanSansThin.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 300;
	src: local('※'),
		url(../font/SpoqaHanSansLight.woff2) format('woff2'),
		url(../font/SpoqaHanSansLight.woff) format('woff'),
		url(../font/SpoqaHanSansLight.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/SpoqaHanSansRegular.woff2) format('woff2'),
		url(../font/SpoqaHanSansRegular.woff) format('woff'),
		url(../font/SpoqaHanSansRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 600;
	src: local('※'),
		url(../font/SpoqaHanSansBold.woff2) format('woff2'),
		url(../font/SpoqaHanSansBold.woff) format('woff'),
		url(../font/SpoqaHanSansBold.ttf) format('truetype');
}





/*Noto Serif*/
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 200;
	src: local('※'),
		url(../font/NotoSerifKR-ExtraLight.woff2) format('woff2'),
		url(../font/NotoSerifKR-ExtraLight.woff) format('woff'),
		url(../font/NotoSerifKR-ExtraLight.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 300;
	src: local('※'),
		url(../font/NotoSerifKR-Light.woff2) format('woff2'),
		url(../font/NotoSerifKR-Light.woff) format('woff'),
		url(../font/NotoSerifKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSerifKR-Regular.eot);
	src: local('※'),
		url(../font/NotoSerifKR-Regular.woff2) format('woff2'),
		url(../font/NotoSerifKR-Regular.woff) format('woff'),
		url(../font/NotoSerifKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 500;
	src: local('※'),
		url(../font/NotoSerifKR-Medium.woff2) format('woff2'),
		url(../font/NotoSerifKR-Medium.woff) format('woff'),
		url(../font/NotoSerifKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 600;
	src: local('※'),
		url(../font/NotoSerifKR-Bold.woff2) format('woff2'),
		url(../font/NotoSerifKR-Bold.woff) format('woff'),
		url(../font/NotoSerifKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: local('※'),
		url(../font/NotoSerifKR-semiBold.woff2) format('woff2'),
		url(../font/NotoSerifKR-semiBold.woff) format('woff'),
		url(../font/NotoSerifKR-semiBold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 900;
	src: local('※'),
		url(../font/NotoSerifKR-Black.woff2) format('woff2'),
		url(../font/NotoSerifKR-Black.woff) format('woff'),
		url(../font/NotoSerifKR-Black.otf) format('opentype');
}



/*에스코어드림*/
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 100;
	src: url(../font/SCDream-Thin.eot);
	src: local('※'),
		url(../font/SCDream-Thin.woff2) format('woff2'),
		url(../font/SCDream-Thin.woff) format('woff'),
		url(../font/SCDream-Thin.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 200;
	src: url(../font/SCDream-ExtraLight.eot);
	src: local('※'),
		url(../font/SCDream-ExtraLight.woff2) format('woff2'),
		url(../font/SCDream-ExtraLight.woff) format('woff'),
		url(../font/SCDream-ExtraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 300;
	src: url(../font/SCDream-Light.eot);
	src: local('※'),
		url(../font/SCDream-Light.woff2) format('woff2'),
		url(../font/SCDream-Light.woff) format('woff'),
		url(../font/SCDream-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 400;
	src: url(../font/SCDream-Regular.eot);
	src: local('※'),
		url(../font/SCDream-Regular.woff2) format('woff2'),
		url(../font/SCDream-Regular.woff) format('woff'),
		url(../font/SCDream-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 500;
	src: url(../font/SCDream-Medium.eot);
	src: local('※'),
		url(../font/SCDream-Medium.woff2) format('woff2'),
		url(../font/SCDream-Medium.woff) format('woff'),
		url(../font/SCDream-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 600;
	src: url(../font/SCDream-Bold.eot);
	src: local('※'),
		url(../font/SCDream-Bold.woff2) format('woff2'),
		url(../font/SCDream-Bold.woff) format('woff'),
		url(../font/SCDream-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 700;
	src: url(../font/SCDream-ExtraBold.eot);
	src: local('※'),
		url(../font/SCDream-ExtraBold.woff2) format('woff2'),
		url(../font/SCDream-ExtraBold.woff) format('woff'),
		url(../font/SCDream-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 800;
	src: url(../font/SCDream-Heavy.eot);
	src: local('※'),
		url(../font/SCDream-Heavy.woff2) format('woff2'),
		url(../font/SCDream-Heavy.woff) format('woff'),
		url(../font/SCDream-Heavy.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 900;
	src: url(../font/SCDream-Black.eot);
	src: local('※'),
		url(../font/SCDream-Black.woff2) format('woff2'),
		url(../font/SCDream-Black.woff) format('woff'),
		url(../font/SCDream-Black.ttf) format('truetype');
}







/*나눔고딕*/
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 100;
	/*src:url(../font/NanumGothicLight.eot);*/
	src: local('※'),
		url(../font/NanumGothicLight.woff2) format('woff2'),
		url(../font/NanumGothicLight.woff) format('woff'),
		url(../font/NanumGothicLight.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumGothic.eot);
	src: local('※'),
		url(../font/NanumGothic.woff2) format('woff2'),
		url(../font/NanumGothic.woff) format('woff'),
		url(../font/NanumGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 600;
	/*src:url(../font/NanumGothicBold.eot);*/
	src: local('※'),
		url(../font/NanumGothicBold.woff2) format('woff2'),
		url(../font/NanumGothicBold.woff) format('woff'),
		url(../font/NanumGothicBold.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 900;
	/*src:url(../font/NanumGothicExtraBold.eot);*/
	src: local('※'),
		url(../font/NanumGothicExtraBold.woff2) format('woff2'),
		url(../font/NanumGothicExtraBold.woff) format('woff'),
		url(../font/NanumGothicExtraBold.ttf) format('truetype');
}

/*나눔바른고딕*/
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NanumBarunGothicUltraLight.eot);
	src: local('※'),
		url(../font/NanumBarunGothicUltraLight.woff2) format('woff2'),
		url(../font/NanumBarunGothicUltraLight.woff) format('woff'),
		url(../font/NanumBarunGothicUltraLight.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NanumBarunGothicLight.eot);
	src: local('※'),
		url(../font/NanumBarunGothicLight.woff2) format('woff2'),
		url(../font/NanumBarunGothicLight.woff) format('woff'),
		url(../font/NanumBarunGothicLight.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumBarunGothic.eot);
	src: local('※'),
		url(../font/NanumBarunGothic.woff2) format('woff2'),
		url(../font/NanumBarunGothic.woff) format('woff'),
		url(../font/NanumBarunGothic.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NanumBarunGothicBold.eot);
	src: local('※'),
		url(../font/NanumBarunGothicBold.woff2) format('woff2'),
		url(../font/NanumBarunGothicBold.woff) format('woff'),
		url(../font/NanumBarunGothicBold.otf) format('opentype');
}

/*나눔스퀘어*/
@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumSquareL.eot);
	src: local('※'),
		url(../font/NanumSquareL.woff2) format('woff2'),
		url(../font/NanumSquareL.woff) format('woff'),
		url(../font/NanumSquareL.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumSquareR.eot);
	src: local('※'),
		url(../font/NanumSquareR.woff2) format('woff2'),
		url(../font/NanumSquareR.woff) format('woff'),
		url(../font/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NanumSquareB.eot);
	src: local('※'),
		url(../font/NanumSquareB.woff2) format('woff2'),
		url(../font/NanumSquareB.woff) format('woff'),
		url(../font/NanumSquareB.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NanumSquareEB.eot);
	src: local('※'),
		url(../font/NanumSquareEB.woff2) format('woff2'),
		url(../font/NanumSquareEB.woff) format('woff'),
		url(../font/NanumSquareEB.ttf) format('truetype');
}

/*나눔스퀘어-라운드*/
@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NanumSquareRoundL.eot);
	src: local('※'),
		url(../font/NanumSquareRoundL.woff2) format('woff2'),
		url(../font/NanumSquareRoundL.woff) format('woff'),
		url(../font/NanumSquareRoundL.ttf) format('truetype'),
		url(../font/NanumSquareRoundL.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumSquareRoundR.eot);
	src: local('※'),
		url(../font/NanumSquareRoundR.woff2) format('woff2'),
		url(../font/NanumSquareRoundR.woff) format('woff'),
		url(../font/NanumSquareRoundR.ttf) format('truetype'),
		url(../font/NanumSquareRoundR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NanumSquareRoundB.eot);
	src: local('※'),
		url(../font/NanumSquareRoundB.woff2) format('woff2'),
		url(../font/NanumSquareRoundB.woff) format('woff'),
		url(../font/NanumSquareRoundB.ttf) format('truetype'),
		url(../font/NanumSquareRoundB.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NanumSquareRoundEB.eot);
	src: local('※'),
		url(../font/NanumSquareRoundEB.woff2) format('woff2'),
		url(../font/NanumSquareRoundEB.woff) format('woff'),
		url(../font/NanumSquareRoundEB.ttf) format('truetype'),
		url(../font/NanumSquareRoundEB.otf) format('opentype');
}


/*나눔바른펜*/
@font-face {
	font-family: 'NanumBarunpen';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumBarunpenR.eot);
	src: local('../font/NanumBarunpen'),
		url(../font/NanumBarunpenR.woff2) format('woff2'),
		url(../font/NanumBarunpenR.woff) format('woff'),
		url(../font/NanumBarunpenR.ttf) format('truetype'),
		url(../font/NanumBarunpenR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunpen';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NanumBarunpenB.eot);
	src: local('../font/NanumBarunpen'),
		url(../font/NanumBarunpenB.woff2) format('woff2'),
		url(../font/NanumBarunpenB.woff) format('woff'),
		url(../font/NanumBarunpenB.ttf) format('truetype'),
		url(../font/NanumBarunpenB.otf) format('opentype');
}

/*나눔브러쉬*/
@font-face {
	font-family: 'NanumBrush';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumBrush.eot);
	src: local('../font/NanumBrush'),
		url(../font/NanumBrush.woff2) format('woff2'),
		url(../font/NanumBrush.woff) format('woff'),
		url(../font/NanumBrush.ttf) format('truetype'),
		url(../font/NanumBrush.otf) format('opentype');
}

/*나눔명조*/
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NanumMyeongjoR.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/NanumMyeongjoR.woff2) format('woff2'),
		url(../font/NanumMyeongjoR.woff) format('woff'),
		url(../font/NanumMyeongjoR.ttf) format('truetype'),
		url(../font/NanumMyeongjoR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NanumMyeongjoB.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/NanumMyeongjoB.woff2) format('woff2'),
		url(../font/NanumMyeongjoB.woff) format('woff'),
		url(../font/NanumMyeongjoB.ttf) format('truetype'),
		url(../font/NanumMyeongjoB.otf) format('opentype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NanumMyeongjoEB.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/NanumMyeongjoEB.woff2) format('woff2'),
		url(../font/NanumMyeongjoEB.woff) format('woff'),
		url(../font/NanumMyeongjoEB.ttf) format('truetype'),
		url(../font/NanumMyeongjoEB.otf) format('opentype');
}



/*아리따부리*/
@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 400;
	src: url(../font/AritaBuriM.eot);
	src: local(※),
		url(../font/AritaBuriMedium.woff2) format('woff2'),
		url(../font/AritaBuriMedium.woff) format('woff'),
		url(../font/AritaBuriMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 600;
	src: url(../font/AritaBuriB.eot);
	src: local(※),
		url(../font/AritaBuriB.woff2) format('woff2'),
		url(../font/AritaBuriB.woff) format('woff'),
		url(../font/AritaBuriB.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 900;
	src: url(../font/AritaBuriSB.eot);
	src: local(※),
		url(../font/AritaBuriSB.woff2) format('woff2'),
		url(../font/AritaBuriSB.woff) format('woff'),
		url(../font/AritaBuriSB.ttf) format('truetype');
}

/*아리따돋움*/
@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 100;
	src: url(../font/AritaDotumThin.eot);
	src: local('※'),
		url(../font/AritaDotumThin.woff2) format('woff2'),
		url(../font/AritaDotumThin.woff) format('woff'),
		url(../font/AritaDotumThin.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 300;
	src: url(../font/AritaDotumThin.eot);
	src: local('※'),
		url(../font/AritaDotumThin.woff2) format('woff2'),
		url(../font/AritaDotumThin.woff) format('woff'),
		url(../font/AritaDotumThin.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 400;
	src: url(../font/AritaDotumMedium.eot);
	src: local('※'),
		url(../font/AritaDotumMedium.woff2) format('woff2'),
		url(../font/AritaDotumMedium.woff) format('woff'),
		url(../font/AritaDotumMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 700;
	src: url(../font/AritaDotumSemiBold.eot);
	src: local('※'),
		url(../font/AritaDotumSemiBold.woff2) format('woff2'),
		url(../font/AritaDotumSemiBold.woff) format('woff'),
		url(../font/AritaDotumSemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 900;
	src: url(../font/AritaDotumBold.eot);
	src: local('※'),
		url(../font/AritaDotumBold.woff2) format('woff2'),
		url(../font/AritaDotumBold.woff) format('woff'),
		url(../font/AritaDotumBold.ttf) format('truetype');
}





/*배민-도현체*/
@font-face {
	font-family: 'DoHyeon';
	font-style: normal;
	font-weight: 400;
	src: url(../font/DoHyeon.eot);
	src: local(※),
		url(../font/DoHyeon.woff2) format('woff2'),
		url(../font/DoHyeon.woff) format('woff'),
		url(../font/DoHyeon.ttf) format('truetype');
}

/*배민-한나*/
@font-face {
	font-family: 'HanNa11';
	font-style: normal;
	font-weight: 400;
	src: url(../font/HanNa11.eot);
	src: local('※'),
		url(../font/HanNa11.woff2) format('woff2'),
		url(../font/HanNa11.woff) format('woff'),
		url(../font/HanNa11.ttf) format('truetype');
}

/*배민-주아*/
@font-face {
	font-family: 'JuA';
	font-style: normal;
	font-weight: 400;
	src: url(../font/JuA.eot);
	src: local('※'),
		url(../font/JuA.woff2) format('woff2'),
		url(../font/JuA.woff) format('woff'),
		url(../font/JuA.ttf) format('truetype');
}

/*tvN Enjoystories*/
@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/tvn_lignt.woff2) format('woff2'),
		url(../font/tvn_lignt.woff) format('woff'),
		url(../font/tvn_lignt.ttf) format('truetype');
}

@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/tvn_medium.woff2) format('woff2'),
		url(../font/tvn_medium.woff) format('woff'),
		url(../font/tvn_medium.ttf) format('truetype');
}

@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: url(../font/tvn_bold.eot);
	src: local('※'),
		url(../font/tvn_bold.woff2) format('woff2'),
		url(../font/tvn_bold.woff) format('woff'),
		url(../font/tvn_bold.ttf) format('truetype');
}





/*스웨거*/
@font-face {
	font-family: 'Swagger';
	font-style: normal;
	font-weight: 400;
	src: url(../font/SDSwaggerTTF.eot);
	src: local('※'),
		url(../font/SDSwaggerTTF.woff2) format('woff2'),
		url(../font/SDSwaggerTTF.woff) format('woff'),
		url(../font/SDSwaggerTTF.ttf) format('truetype');
}





/*잉크립퀴드*/
@font-face {
	font-family: 'InkLinpQuid';
	font-style: normal;
	font-weight: 400;
	src: url(../font/InkLinpQuid.eot);
	src: local('※'),
		url(../font/InkLinpQuid.woff) format('woff'),
		url(../font/InkLinpQuid.ttf) format('truetype');
}



/*이롭게*/
@font-face {
	font-family: 'Iropke';
	font-style: normal;
	font-weight: 400;
	src: url(../font/IropkeBatangM.eot);
	src: local('※'),
		url(../font/IropkeBatangM.woff) format('woff'),
		url(../font/IropkeBatangM.otf) format('opentype');
}




/* 서울한강 */
@font-face {
	font-family: 'SeoulN';
	font-weight: 400;
	src: url("../font/SeoulNamsanM.woff2") format('woff2'),
		url("../font/SeoulNamsanM.woff") format('woff');
}

@font-face {
	font-family: 'SeoulN';
	font-weight: 600;
	src: url("../font/SeoulNamsanB.woff2") format('woff2'),
		url("../font/SeoulNamsanB.woff") format('woff');
}

@font-face {
	font-family: 'SeoulH';
	font-weight: 400;
	src: url("../font/SeoulHangangM.woff") format('woff');
}

@font-face {
	font-family: 'SeoulH';
	font-weight: 600;
	src: url("../font/SeoulHangangB.woff") format('woff');
}


/* Opensans */
@font-face {
	font-family: 'Opensans';
	font-weight: 400;
	src: url("../font/OpensansR.woff2") format('woff2'),
		url("../font/OpensansR.woff") format('woff');
}

@font-face {
	font-family: 'Opensans';
	font-weight: 600;
	src: url("../font/OpensansB.woff2") format('woff2'),
		url("../font/OpensansB.woff") format('woff');
}


/*Montserrat*/
@font-face {
	font-family: 'Montserrat';
	font-weight: 100;
	src: url("../font/Montserrat-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url("../font/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url("../font/Montserrat-Bold.ttf") format('truetype');
}
