@charset "utf-8";


/*Montserrat*/
@font-face {
	font-family: 'Montserrat';
	font-weight: 100;
	src: url("../font/Montserrat-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url("../font/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url("../font/Montserrat-Bold.ttf") format('truetype');
}

/* 노토 */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 100;
	src: url(../font/noto/NotoSans-Thin.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Thin.woff2) format('woff2'),
		url(../font/noto/NotoSans-Thin.woff) format('woff'),
		url(../font/noto/NotoSans-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 200;
	src: url(../font/noto/NotoSans-Light.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Light.woff2) format('woff2'),
		url(../font/noto/NotoSans-Light.woff) format('woff'),
		url(../font/noto/NotoSans-Light.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src: url(../font/noto/NotoSans-DemiLight.eot);
	src: local('※'),
		url(../font/noto/NotoSans-DemiLight.woff2) format('woff2'),
		url(../font/noto/NotoSans-DemiLight.woff) format('woff'),
		url(../font/noto/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/noto/NotoSans-Regular.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Regular.woff2) format('woff2'),
		url(../font/noto/NotoSans-Regular.woff) format('woff'),
		url(../font/noto/NotoSans-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: url(../font/noto/NotoSans-Medium.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Medium.woff2) format('woff2'),
		url(../font/noto/NotoSans-Medium.woff) format('woff'),
		url(../font/noto/NotoSans-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 600;
	src: url(../font/noto/NotoSans-Bold.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Bold.woff2) format('woff2'),
		url(../font/noto/NotoSans-Bold.woff) format('woff'),
		url(../font/noto/NotoSans-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 900;
	src: url(../font/noto/NotoSans-Black.eot);
	src: local('※'),
		url(../font/noto/NotoSans-Black.woff2) format('woff2'),
		url(../font/noto/NotoSans-Black.woff) format('woff'),
		url(../font/noto/NotoSans-Black.otf) format('opentype');
}


/* Noto Sans Condensed */
@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 300;
	src: url(../fonts/NotoSans-CondensedLight.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedLight.woff) format('woff'),
		url(../fonts/NotoSans-CondensedLight.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 400;
	src: url(../fonts/NotoSans-CondensedMedium.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedMedium.woff) format('woff'),
		url(../fonts/NotoSans-CondensedMedium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 500;
	src: url(../fonts/NotoSans-CondensedSemiBold.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedSemiBold.woff) format('woff'),
		url(../fonts/NotoSans-CondensedSemiBold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Condensed";font-style:norma';
	font-weight: 600;
	src: url(../fonts/NotoSans-CondensedBold.woff2) format('woff2'),
		url(../fonts/NotoSans-CondensedBold.woff) format('woff'),
		url(../fonts/NotoSans-CondensedBold.otf) format('opentype');
}




/*스푸카한*/
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 100;
	src: local('※'),
		url(../font/SpoqaHanSans/SpoqaHanSansThin.woff2) format('woff2'),
		url(../font/SpoqaHanSans/SpoqaHanSansThin.woff) format('woff'),
		url(../font/SpoqaHanSans/SpoqaHanSansThin.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 300;
	src: local('※'),
		url(../font/SpoqaHanSans/SpoqaHanSansLight.woff2) format('woff2'),
		url(../font/SpoqaHanSans/SpoqaHanSansLight.woff) format('woff'),
		url(../font/SpoqaHanSans/SpoqaHanSansLight.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/SpoqaHanSans/SpoqaHanSansRegular.woff2) format('woff2'),
		url(../font/SpoqaHanSans/SpoqaHanSansRegular.woff) format('woff'),
		url(../font/SpoqaHanSans/SpoqaHanSansRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 600;
	src: local('※'),
		url(../font/SpoqaHanSans/SpoqaHanSansBold.woff2) format('woff2'),
		url(../font/SpoqaHanSans/SpoqaHanSansBold.woff) format('woff'),
		url(../font/SpoqaHanSans/SpoqaHanSansBold.ttf) format('truetype');
}





/*Noto Serif*/
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 200;
	src: local('※'),
		url(../font/NotoSerifKR-ExtraLight.woff2) format('woff2'),
		url(../font/NotoSerifKR-ExtraLight.woff) format('woff'),
		url(../font/NotoSerifKR-ExtraLight.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 300;
	src: local('※'),
		url(../font/NotoSerifKR-Light.woff2) format('woff2'),
		url(../font/NotoSerifKR-Light.woff) format('woff'),
		url(../font/NotoSerifKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSerifKR-Regular.eot);
	src: local('※'),
		url(../font/NotoSerifKR-Regular.woff2) format('woff2'),
		url(../font/NotoSerifKR-Regular.woff) format('woff'),
		url(../font/NotoSerifKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 500;
	src: local('※'),
		url(../font/NotoSerifKR-Medium.woff2) format('woff2'),
		url(../font/NotoSerifKR-Medium.woff) format('woff'),
		url(../font/NotoSerifKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 600;
	src: local('※'),
		url(../font/NotoSerifKR-Bold.woff2) format('woff2'),
		url(../font/NotoSerifKR-Bold.woff) format('woff'),
		url(../font/NotoSerifKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: local('※'),
		url(../font/NotoSerifKR-semiBold.woff2) format('woff2'),
		url(../font/NotoSerifKR-semiBold.woff) format('woff'),
		url(../font/NotoSerifKR-semiBold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 900;
	src: local('※'),
		url(../font/NotoSerifKR-Black.woff2) format('woff2'),
		url(../font/NotoSerifKR-Black.woff) format('woff'),
		url(../font/NotoSerifKR-Black.otf) format('opentype');
}



/*에스코어드림*/
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 100;
	src: url(../font/SCDream/SCDream-Thin.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Thin.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Thin.woff) format('woff'),
		url(../font/SCDream/SCDream-Thin.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 200;
	src: url(../font/SCDream/SCDream-ExtraLight.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-ExtraLight.woff2) format('woff2'),
		url(../font/SCDream/SCDream-ExtraLight.woff) format('woff'),
		url(../font/SCDream/SCDream-ExtraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 300;
	src: url(../font/SCDream/SCDream-Light.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Light.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Light.woff) format('woff'),
		url(../font/SCDream/SCDream-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 400;
	src: url(../font/SCDream/SCDream-Regular.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Regular.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Regular.woff) format('woff'),
		url(../font/SCDream/SCDream-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 500;
	src: url(../font/SCDream/SCDream-Medium.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Medium.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Medium.woff) format('woff'),
		url(../font/SCDream/SCDream-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 600;
	src: url(../font/SCDream/SCDream-Bold.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Bold.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Bold.woff) format('woff'),
		url(../font/SCDream/SCDream-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 700;
	src: url(../font/SCDream/SCDream-ExtraBold.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-ExtraBold.woff2) format('woff2'),
		url(../font/SCDream/SCDream-ExtraBold.woff) format('woff'),
		url(../font/SCDream/SCDream-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 800;
	src: url(../font/SCDream/SCDream-Heavy.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Heavy.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Heavy.woff) format('woff'),
		url(../font/SCDream/SCDream-Heavy.ttf) format('truetype');
}

@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 900;
	src: url(../font/SCDream/SCDream-Black.eot);
	src: local('※'),
		url(../font/SCDream/SCDream-Black.woff2) format('woff2'),
		url(../font/SCDream/SCDream-Black.woff) format('woff'),
		url(../font/SCDream/SCDream-Black.ttf) format('truetype');
}







/*나눔고딕*/
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 100;
	/*src:url(../font/Nanum/NanumGothicLight.eot);*/
	src: local('※'),
		url(../font/Nanum/NanumGothicLight.woff2) format('woff2'),
		url(../font/Nanum/NanumGothicLight.woff) format('woff'),
		url(../font/Nanum/NanumGothicLight.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumGothic.eot);
	src: local('※'),
		url(../font/Nanum/NanumGothic.woff2) format('woff2'),
		url(../font/Nanum/NanumGothic.woff) format('woff'),
		url(../font/Nanum/NanumGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 600;
	/*src:url(../font/Nanum/NanumGothicBold.eot);*/
	src: local('※'),
		url(../font/Nanum/NanumGothicBold.woff2) format('woff2'),
		url(../font/Nanum/NanumGothicBold.woff) format('woff'),
		url(../font/Nanum/NanumGothicBold.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 900;
	/*src:url(../font/Nanum/NanumGothicExtraBold.eot);*/
	src: local('※'),
		url(../font/Nanum/NanumGothicExtraBold.woff2) format('woff2'),
		url(../font/Nanum/NanumGothicExtraBold.woff) format('woff'),
		url(../font/Nanum/NanumGothicExtraBold.ttf) format('truetype');
}

/*나눔바른고딕*/
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 100;
	src: url(../font/Nanum/NanumBarunGothicUltraLight.eot);
	src: local('※'),
		url(../font/Nanum/NanumBarunGothicUltraLight.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunGothicUltraLight.woff) format('woff'),
		url(../font/Nanum/NanumBarunGothicUltraLight.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: url(../font/Nanum/NanumBarunGothicLight.eot);
	src: local('※'),
		url(../font/Nanum/NanumBarunGothicLight.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunGothicLight.woff) format('woff'),
		url(../font/Nanum/NanumBarunGothicLight.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumBarunGothic.eot);
	src: local('※'),
		url(../font/Nanum/NanumBarunGothic.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunGothic.woff) format('woff'),
		url(../font/Nanum/NanumBarunGothic.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 600;
	src: url(../font/Nanum/NanumBarunGothicBold.eot);
	src: local('※'),
		url(../font/Nanum/NanumBarunGothicBold.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunGothicBold.woff) format('woff'),
		url(../font/Nanum/NanumBarunGothicBold.otf) format('opentype');
}

/*나눔스퀘어*/
@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumSquareL.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareL.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareL.woff) format('woff'),
		url(../font/Nanum/NanumSquareL.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumSquareR.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareR.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareR.woff) format('woff'),
		url(../font/Nanum/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 600;
	src: url(../font/Nanum/NanumSquareB.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareB.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareB.woff) format('woff'),
		url(../font/Nanum/NanumSquareB.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSQ';
	font-style: normal;
	font-weight: 600;
	src: url(../font/Nanum/NanumSquareEB.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareEB.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareEB.woff) format('woff'),
		url(../font/Nanum/NanumSquareEB.ttf) format('truetype');
}

/*나눔스퀘어-라운드*/
@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 100;
	src: url(../font/Nanum/NanumSquareRoundL.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareRoundL.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareRoundL.woff) format('woff'),
		url(../font/Nanum/NanumSquareRoundL.ttf) format('truetype'),
		url(../font/Nanum/NanumSquareRoundL.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumSquareRoundR.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareRoundR.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareRoundR.woff) format('woff'),
		url(../font/Nanum/NanumSquareRoundR.ttf) format('truetype'),
		url(../font/Nanum/NanumSquareRoundR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Nanum/NanumSquareRoundB.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareRoundB.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareRoundB.woff) format('woff'),
		url(../font/Nanum/NanumSquareRoundB.ttf) format('truetype'),
		url(../font/Nanum/NanumSquareRoundB.otf) format('opentype');
}

@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 900;
	src: url(../font/Nanum/NanumSquareRoundEB.eot);
	src: local('※'),
		url(../font/Nanum/NanumSquareRoundEB.woff2) format('woff2'),
		url(../font/Nanum/NanumSquareRoundEB.woff) format('woff'),
		url(../font/Nanum/NanumSquareRoundEB.ttf) format('truetype'),
		url(../font/Nanum/NanumSquareRoundEB.otf) format('opentype');
}


/*나눔바른펜*/
@font-face {
	font-family: 'NanumBarunpen';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumBarunpenR.eot);
	src: local('../font/Nanum/NanumBarunpen'),
		url(../font/Nanum/NanumBarunpenR.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunpenR.woff) format('woff'),
		url(../font/Nanum/NanumBarunpenR.ttf) format('truetype'),
		url(../font/Nanum/NanumBarunpenR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumBarunpen';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Nanum/NanumBarunpenB.eot);
	src: local('../font/Nanum/NanumBarunpen'),
		url(../font/Nanum/NanumBarunpenB.woff2) format('woff2'),
		url(../font/Nanum/NanumBarunpenB.woff) format('woff'),
		url(../font/Nanum/NanumBarunpenB.ttf) format('truetype'),
		url(../font/Nanum/NanumBarunpenB.otf) format('opentype');
}

/*나눔브러쉬*/
@font-face {
	font-family: 'NanumBrush';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumBrush.eot);
	src: local('../font/Nanum/NanumBrush'),
		url(../font/Nanum/NanumBrush.woff2) format('woff2'),
		url(../font/Nanum/NanumBrush.woff) format('woff'),
		url(../font/Nanum/NanumBrush.ttf) format('truetype'),
		url(../font/Nanum/NanumBrush.otf) format('opentype');
}

/*나눔명조*/
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Nanum/NanumMyeongjoR.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/Nanum/NanumMyeongjoR.woff2) format('woff2'),
		url(../font/Nanum/NanumMyeongjoR.woff) format('woff'),
		url(../font/Nanum/NanumMyeongjoR.ttf) format('truetype'),
		url(../font/Nanum/NanumMyeongjoR.otf) format('opentype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Nanum/NanumMyeongjoB.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/Nanum/NanumMyeongjoB.woff2) format('woff2'),
		url(../font/Nanum/NanumMyeongjoB.woff) format('woff'),
		url(../font/Nanum/NanumMyeongjoB.ttf) format('truetype'),
		url(../font/Nanum/NanumMyeongjoB.otf) format('opentype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 900;
	src: url(../font/Nanum/NanumMyeongjoEB.eot) format('embedded-opentype');
	src: local('※'),
		url(../font/Nanum/NanumMyeongjoEB.woff2) format('woff2'),
		url(../font/Nanum/NanumMyeongjoEB.woff) format('woff'),
		url(../font/Nanum/NanumMyeongjoEB.ttf) format('truetype'),
		url(../font/Nanum/NanumMyeongjoEB.otf) format('opentype');
}



/*아리따부리*/
@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Arita/AritaBuriM.eot);
	src: local(※),
		url(../font/Arita/AritaBuriMedium.woff2) format('woff2'),
		url(../font/Arita/AritaBuriMedium.woff) format('woff'),
		url(../font/Arita/AritaBuriMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 600;
	src: url(../font/Arita/AritaBuriB.eot);
	src: local(※),
		url(../font/Arita/AritaBuriB.woff2) format('woff2'),
		url(../font/Arita/AritaBuriB.woff) format('woff'),
		url(../font/Arita/AritaBuriB.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 900;
	src: url(../font/Arita/AritaBuriSB.eot);
	src: local(※),
		url(../font/Arita/AritaBuriSB.woff2) format('woff2'),
		url(../font/Arita/AritaBuriSB.woff) format('woff'),
		url(../font/Arita/AritaBuriSB.ttf) format('truetype');
}

/*아리따돋움*/
@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 100;
	src: url(../font/Arita/AritaDotumThin.eot);
	src: local('※'),
		url(../font/Arita/AritaDotumThin.woff2) format('woff2'),
		url(../font/Arita/AritaDotumThin.woff) format('woff'),
		url(../font/Arita/AritaDotumThin.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 300;
	src: url(../font/Arita/AritaDotumThin.eot);
	src: local('※'),
		url(../font/Arita/AritaDotumThin.woff2) format('woff2'),
		url(../font/Arita/AritaDotumThin.woff) format('woff'),
		url(../font/Arita/AritaDotumThin.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Arita/AritaDotumMedium.eot);
	src: local('※'),
		url(../font/Arita/AritaDotumMedium.woff2) format('woff2'),
		url(../font/Arita/AritaDotumMedium.woff) format('woff'),
		url(../font/Arita/AritaDotumMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 700;
	src: url(../font/Arita/AritaDotumSemiBold.eot);
	src: local('※'),
		url(../font/Arita/AritaDotumSemiBold.woff2) format('woff2'),
		url(../font/Arita/AritaDotumSemiBold.woff) format('woff'),
		url(../font/Arita/AritaDotumSemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'AritaDotum';
	font-style: normal;
	font-weight: 900;
	src: url(../font/Arita/AritaDotumBold.eot);
	src: local('※'),
		url(../font/Arita/AritaDotumBold.woff2) format('woff2'),
		url(../font/Arita/AritaDotumBold.woff) format('woff'),
		url(../font/Arita/AritaDotumBold.ttf) format('truetype');
}





/*배민-도현체*/
@font-face {
	font-family: 'DoHyeon';
	font-style: normal;
	font-weight: 400;
	src: url(../font/baemin/DoHyeon.eot);
	src: local(※),
		url(../font/baemin/DoHyeon.woff2) format('woff2'),
		url(../font/baemin/DoHyeon.woff) format('woff'),
		url(../font/baemin/DoHyeon.ttf) format('truetype');
}

/*배민-한나*/
@font-face {
	font-family: 'HanNa11';
	font-style: normal;
	font-weight: 400;
	src: url(../font/baemin/HanNa11.eot);
	src: local('※'),
		url(../font/baemin/HanNa11.woff2) format('woff2'),
		url(../font/baemin/HanNa11.woff) format('woff'),
		url(../font/baemin/HanNa11.ttf) format('truetype');
}

/*배민-주아*/
@font-face {
	font-family: 'JuA';
	font-style: normal;
	font-weight: 400;
	src: url(../font/baemin/JuA.eot);
	src: local('※'),
		url(../font/baemin/JuA.woff2) format('woff2'),
		url(../font/baemin/JuA.woff) format('woff'),
		url(../font/baemin/JuA.ttf) format('truetype');
}

/*tvN Enjoystories*/
@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/tvN/tvn_lignt.woff2) format('woff2'),
		url(../font/tvN/tvn_lignt.woff) format('woff'),
		url(../font/tvN/tvn_lignt.ttf) format('truetype');
}

@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
		url(../font/tvN/tvn_medium.woff2) format('woff2'),
		url(../font/tvN/tvn_medium.woff) format('woff'),
		url(../font/tvN/tvn_medium.ttf) format('truetype');
}

@font-face {
	font-family: 'tvN Enjoystories';
	font-style: normal;
	font-weight: 400;
	src: url(../font/tvN/tvn_bold.eot);
	src: local('※'),
		url(../font/tvN/tvn_bold.woff2) format('woff2'),
		url(../font/tvN/tvn_bold.woff) format('woff'),
		url(../font/tvN/tvn_bold.ttf) format('truetype');
}





/*스웨거*/
@font-face {
	font-family: 'Swagger';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Swagger/SDSwaggerTTF.eot);
	src: local('※'),
		url(../font/Swagger/SDSwaggerTTF.woff2) format('woff2'),
		url(../font/Swagger/SDSwaggerTTF.woff) format('woff'),
		url(../font/Swagger/SDSwaggerTTF.ttf) format('truetype');
}





/*잉크립퀴드*/
@font-face {
	font-family: 'InkLinpQuid';
	font-style: normal;
	font-weight: 400;
	src: url(../font/InkLinpQuid.eot);
	src: local('※'),
		url(../font/InkLinpQuid.woff) format('woff'),
		url(../font/InkLinpQuid.ttf) format('truetype');
}



/*이롭게*/
@font-face {
	font-family: 'Iropke';
	font-style: normal;
	font-weight: 400;
	src: url(../font/InkLinpQuid/IropkeBatangM.eot);
	src: local('※'),
		url(../font/InkLinpQuid/IropkeBatangM.woff) format('woff'),
		url(../font/InkLinpQuid/IropkeBatangM.otf) format('opentype');
}




/* 서울한강 */
@font-face {
	font-family: 'SeoulN';
	font-weight: 400;
	src: url("../font/hangang/SeoulNamsanM.woff2") format('woff2'),
		url("../font/hangang/SeoulNamsanM.woff") format('woff');
}

@font-face {
	font-family: 'SeoulN';
	font-weight: 600;
	src: url("../font/hangang/SeoulNamsanB.woff2") format('woff2'),
		url("../font/hangang/SeoulNamsanB.woff") format('woff');
}

@font-face {
	font-family: 'SeoulH';
	font-weight: 400;
	src: url("../font/hangang/SeoulHangangM.woff") format('woff');
}

@font-face {
	font-family: 'SeoulH';
	font-weight: 600;
	src: url("../font/hangang/SeoulHangangB.woff") format('woff');
}


/* Opensans */
@font-face {
	font-family: 'Opensans';
	font-weight: 400;
	src: url("../font/Opensans/OpensansR.woff2") format('woff2'),
		url("../font/Opensans/OpensansR.woff") format('woff');
}

@font-face {
	font-family: 'Opensans';
	font-weight: 600;
	src: url("../font/Opensans/OpensansB.woff2") format('woff2'),
		url("../font/Opensans/OpensansB.woff") format('woff');
}


